snippet html
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width">
			<link media="all" rel="stylesheet" href="./style.css" />
			<title>Title</title>
		</head>
		<body>
		  ${1:body}
		</body>
	</html>
